body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28359 {
  position:absolute;
  left:16px;
  top:6px;
  width:96px;
  height:20px;
}
#u28360 {
  position:absolute;
  left:2px;
  top:1px;
  width:92px;
  word-wrap:break-word;
}
#u28361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28361 {
  position:absolute;
  left:141px;
  top:6px;
  width:96px;
  height:20px;
}
#u28362 {
  position:absolute;
  left:2px;
  top:1px;
  width:92px;
  word-wrap:break-word;
}
#u28363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28363 {
  position:absolute;
  left:16px;
  top:36px;
  width:96px;
  height:20px;
}
#u28364 {
  position:absolute;
  left:2px;
  top:1px;
  width:92px;
  word-wrap:break-word;
}
#u28365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28365 {
  position:absolute;
  left:141px;
  top:36px;
  width:96px;
  height:20px;
}
#u28366 {
  position:absolute;
  left:2px;
  top:1px;
  width:92px;
  word-wrap:break-word;
}
#u28367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u28367 {
  position:absolute;
  left:90px;
  top:9px;
  width:14px;
  height:14px;
}
#u28368 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u28369 {
  position:absolute;
  left:215px;
  top:39px;
  width:14px;
  height:14px;
}
#u28370 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u28371 {
  position:absolute;
  left:90px;
  top:39px;
  width:14px;
  height:14px;
}
#u28372 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u28373 {
  position:absolute;
  left:215px;
  top:9px;
  width:14px;
  height:14px;
}
#u28374 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
