body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u1805 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u1806 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1808 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u1809 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1810 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u1811 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u1812 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1814 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u1815 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u1816 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u1818 {
  position:absolute;
  left:718px;
  top:238px;
  width:65px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1819 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  word-wrap:break-word;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1820 {
  position:absolute;
  left:793px;
  top:250px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1821 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u1822 {
  position:absolute;
  left:718px;
  top:302px;
  width:65px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1823 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  word-wrap:break-word;
}
#u1824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1824 {
  position:absolute;
  left:793px;
  top:314px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1825 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:47px;
}
#u1826 {
  position:absolute;
  left:724px;
  top:362px;
  width:54px;
  height:47px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1827 {
  position:absolute;
  left:6px;
  top:14px;
  width:43px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 9.5px;
  -ms-transform-origin:21px 9.5px;
  -moz-transform-origin:21px 9.5px;
  -webkit-transform-origin:21px 9.5px;
}
#u1828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1828 {
  position:absolute;
  left:793px;
  top:379px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1830 {
  position:absolute;
  left:793px;
  top:443px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:47px;
}
#u1832 {
  position:absolute;
  left:723px;
  top:436px;
  width:56px;
  height:47px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1833 {
  position:absolute;
  left:6px;
  top:14px;
  width:43px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:22px 9.5px;
  -ms-transform-origin:22px 9.5px;
  -moz-transform-origin:22px 9.5px;
  -webkit-transform-origin:22px 9.5px;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1834 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
  background:inherit;
  background-color:rgba(15, 15, 15, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#018CE7;
  text-align:left;
}
#u1836 {
  position:absolute;
  left:549px;
  top:412px;
  width:58px;
  height:14px;
  font-size:9px;
  color:#018CE7;
  text-align:left;
}
#u1837 {
  position:absolute;
  left:2px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u1838 {
  position:absolute;
  left:474px;
  top:348px;
  width:170px;
  height:40px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1838_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1838_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1839 {
  position:absolute;
  left:474px;
  top:321px;
  width:170px;
  height:27px;
  overflow:hidden;
  touch-action:pan-y;
}
#u1839_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:27px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1839_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
