body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:872px;
}
#u13934 {
  position:absolute;
  left:287px;
  top:7px;
  width:437px;
  height:872px;
}
#u13935 {
  position:absolute;
  left:2px;
  top:428px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:38px;
}
#u13937 {
  position:absolute;
  left:445px;
  top:733px;
  width:24px;
  height:38px;
}
#u13937_img.selected {
}
#u13937.selected {
}
#u13938 {
  position:absolute;
  left:2px;
  top:11px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u13939 {
  position:absolute;
  left:548px;
  top:731px;
  width:25px;
  height:40px;
}
#u13939_img.selected {
}
#u13939.selected {
}
#u13940 {
  position:absolute;
  left:2px;
  top:12px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
}
#u13941 {
  position:absolute;
  left:634px;
  top:732px;
  width:49px;
  height:39px;
}
#u13941_img.selected {
}
#u13941.selected {
}
#u13942 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:40px;
}
#u13943 {
  position:absolute;
  left:340px;
  top:731px;
  width:24px;
  height:40px;
}
#u13943_img.selected {
}
#u13943.selected {
}
#u13944 {
  position:absolute;
  left:2px;
  top:12px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13945 {
  position:absolute;
  left:318px;
  top:719px;
  width:375px;
  height:1px;
}
#u13946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13948 {
  position:absolute;
  left:318px;
  top:109px;
  width:375px;
  height:27px;
}
#u13949 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u13950 {
  position:absolute;
  left:323px;
  top:117px;
  width:360px;
  height:11px;
}
#u13951 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9A00;
}
#u13952 {
  position:absolute;
  left:461px;
  top:142px;
  width:73px;
  height:25px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9A00;
}
#u13953 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u13954 {
  position:absolute;
  left:639px;
  top:143px;
  width:25px;
  height:20px;
}
#u13955 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13957 {
  position:absolute;
  left:329px;
  top:186px;
  width:355px;
  height:70px;
}
#u13958 {
  position:absolute;
  left:2px;
  top:27px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u13959 {
  position:absolute;
  left:340px;
  top:203px;
  width:42px;
  height:42px;
}
#u13960 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13961 {
  position:absolute;
  left:395px;
  top:194px;
  width:42px;
  height:28px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13962 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u13963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13963 {
  position:absolute;
  left:366px;
  top:195px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u13964 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u13965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13965 {
  position:absolute;
  left:395px;
  top:225px;
  width:161px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13966 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u13967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13967 {
  position:absolute;
  left:615px;
  top:193px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13970 {
  position:absolute;
  left:329px;
  top:266px;
  width:355px;
  height:70px;
}
#u13971 {
  position:absolute;
  left:2px;
  top:27px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13972 {
  position:absolute;
  left:395px;
  top:274px;
  width:41px;
  height:28px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13973 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u13974 {
  position:absolute;
  left:340px;
  top:280px;
  width:42px;
  height:42px;
}
#u13975 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13977 {
  position:absolute;
  left:329px;
  top:346px;
  width:355px;
  height:70px;
}
#u13978 {
  position:absolute;
  left:2px;
  top:27px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13979 {
  position:absolute;
  left:395px;
  top:354px;
  width:41px;
  height:28px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13980 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13981 {
  position:absolute;
  left:395px;
  top:385px;
  width:161px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13982 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u13983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13983 {
  position:absolute;
  left:624px;
  top:354px;
  width:47px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13984 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u13985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u13985 {
  position:absolute;
  left:340px;
  top:357px;
  width:42px;
  height:42px;
}
#u13986 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13988 {
  position:absolute;
  left:329px;
  top:426px;
  width:355px;
  height:70px;
}
#u13989 {
  position:absolute;
  left:2px;
  top:27px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u13990 {
  position:absolute;
  left:340px;
  top:438px;
  width:45px;
  height:45px;
}
#u13991 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13992 {
  position:absolute;
  left:395px;
  top:434px;
  width:81px;
  height:28px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13993 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13994 {
  position:absolute;
  left:366px;
  top:435px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u13995 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u13996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13996 {
  position:absolute;
  left:395px;
  top:465px;
  width:193px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13997 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u13998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13998 {
  position:absolute;
  left:615px;
  top:433px;
  width:53px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13999 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14001 {
  position:absolute;
  left:329px;
  top:506px;
  width:355px;
  height:70px;
}
#u14002 {
  position:absolute;
  left:2px;
  top:27px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14003 {
  position:absolute;
  left:395px;
  top:514px;
  width:81px;
  height:28px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14004 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u14005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14005 {
  position:absolute;
  left:395px;
  top:545px;
  width:261px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14006 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u14007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14007 {
  position:absolute;
  left:624px;
  top:513px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14008 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14009 {
  position:absolute;
  left:340px;
  top:519px;
  width:45px;
  height:45px;
}
#u14010 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14012 {
  position:absolute;
  left:329px;
  top:589px;
  width:355px;
  height:70px;
}
#u14013 {
  position:absolute;
  left:2px;
  top:27px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14014 {
  position:absolute;
  left:387px;
  top:627px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14015 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14016 {
  position:absolute;
  left:395px;
  top:597px;
  width:61px;
  height:28px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14017 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u14018 {
  position:absolute;
  left:340px;
  top:602px;
  width:45px;
  height:45px;
}
#u14019 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14020 {
  position:absolute;
  left:624px;
  top:597px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14021 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
