body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u674 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u675 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u678 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u680 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u681 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u682 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u684 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u685 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u686 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u687 {
  position:absolute;
  left:718px;
  top:238px;
  width:65px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u688 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u689 {
  position:absolute;
  left:793px;
  top:250px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u691 {
  position:absolute;
  left:718px;
  top:302px;
  width:65px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u692 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:47px;
}
#u693 {
  position:absolute;
  left:724px;
  top:362px;
  width:54px;
  height:47px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u694 {
  position:absolute;
  left:6px;
  top:14px;
  width:43px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 9.5px;
  -ms-transform-origin:21px 9.5px;
  -moz-transform-origin:21px 9.5px;
  -webkit-transform-origin:21px 9.5px;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u695 {
  position:absolute;
  left:793px;
  top:379px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u697 {
  position:absolute;
  left:793px;
  top:443px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:47px;
}
#u699 {
  position:absolute;
  left:723px;
  top:436px;
  width:56px;
  height:47px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u700 {
  position:absolute;
  left:6px;
  top:14px;
  width:43px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:22px 9.5px;
  -ms-transform-origin:22px 9.5px;
  -moz-transform-origin:22px 9.5px;
  -webkit-transform-origin:22px 9.5px;
}
#u701 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
  overflow:hidden;
  touch-action:pan-y;
}
#u701_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u701_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u703 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:19px;
  top:7px;
  width:128px;
  height:36px;
}
#u705 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  position:absolute;
  left:19px;
  top:124px;
  width:128px;
  height:36px;
}
#u707 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u701_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u709 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  position:absolute;
  left:29px;
  top:17px;
  width:128px;
  height:36px;
}
#u711 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  position:absolute;
  left:25px;
  top:124px;
  width:128px;
  height:36px;
}
#u713 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:43px;
}
#u714 {
  position:absolute;
  left:27px;
  top:8px;
  width:116px;
  height:43px;
}
#u715 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:13px;
  background:inherit;
  background-color:rgba(15, 15, 15, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  position:absolute;
  left:25px;
  top:31px;
  width:120px;
  height:13px;
}
#u717 {
  position:absolute;
  left:2px;
  top:-2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u718 {
  position:absolute;
  left:793px;
  top:315px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
