body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16907 {
  position:absolute;
  left:14px;
  top:231px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16908 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16909 {
  position:absolute;
  left:156px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16910 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16911 {
  position:absolute;
  left:85px;
  top:231px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16912 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16913 {
  position:absolute;
  left:156px;
  top:231px;
  width:101px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16914 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u16915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16915 {
  position:absolute;
  left:289px;
  top:231px;
  width:101px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16916 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u16917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16917 {
  position:absolute;
  left:418px;
  top:231px;
  width:101px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16918 {
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u16919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16919 {
  position:absolute;
  left:547px;
  top:231px;
  width:215px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16920 {
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u16921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16921 {
  position:absolute;
  left:214px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16922 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16923 {
  position:absolute;
  left:289px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16924 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16925 {
  position:absolute;
  left:347px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16926 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16927 {
  position:absolute;
  left:418px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16928 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16929 {
  position:absolute;
  left:476px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16930 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16931 {
  position:absolute;
  left:547px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16932 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16933 {
  position:absolute;
  left:605px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16934 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16935 {
  position:absolute;
  left:662px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16936 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16937 {
  position:absolute;
  left:14px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16938 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16939 {
  position:absolute;
  left:85px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16940 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16941 {
  position:absolute;
  left:719px;
  top:112px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16942 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16943 {
  position:absolute;
  left:14px;
  top:16px;
  width:203px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16944 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  word-wrap:break-word;
}
#u16945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16945 {
  position:absolute;
  left:14px;
  top:279px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16946 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16947 {
  position:absolute;
  left:156px;
  top:279px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16948 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16949 {
  position:absolute;
  left:214px;
  top:279px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16950 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16951 {
  position:absolute;
  left:289px;
  top:279px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16952 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16953 {
  position:absolute;
  left:347px;
  top:279px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16954 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16955 {
  position:absolute;
  left:547px;
  top:279px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16956 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16957 {
  position:absolute;
  left:662px;
  top:279px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16958 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(47, 165, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16959 {
  position:absolute;
  left:605px;
  top:279px;
  width:43px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#2FA5DA;
}
#u16960 {
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u16961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16961 {
  position:absolute;
  left:14px;
  top:47px;
  width:339px;
  height:40px;
}
#u16962 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  white-space:nowrap;
}
#u16963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16963 {
  position:absolute;
  left:533px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16964 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16965 {
  position:absolute;
  left:606px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16966 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16967 {
  position:absolute;
  left:679px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16968 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16969 {
  position:absolute;
  left:753px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16970 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
}
#u16971 {
  position:absolute;
  left:826px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16972 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
}
#u16973 {
  position:absolute;
  left:899px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16974 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16975 {
  position:absolute;
  left:972px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16976 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16977 {
  position:absolute;
  left:1046px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16978 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16979 {
  position:absolute;
  left:1119px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16980 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
}
#u16981 {
  position:absolute;
  left:1192px;
  top:666px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16982 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16983 {
  position:absolute;
  left:667px;
  top:523px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16984 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16985 {
  position:absolute;
  left:797px;
  top:523px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16986 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
}
#u16987 {
  position:absolute;
  left:928px;
  top:523px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16988 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:109px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16989 {
  position:absolute;
  left:1058px;
  top:523px;
  width:43px;
  height:109px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16990 {
  position:absolute;
  left:-31px;
  top:46px;
  width:105px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:52.5px 8.5px;
  -ms-transform-origin:52.5px 8.5px;
  -moz-transform-origin:52.5px 8.5px;
  -webkit-transform-origin:52.5px 8.5px;
}
#u16991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:43px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16991 {
  position:absolute;
  left:807px;
  top:419px;
  width:153px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16992 {
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u16993 {
  position:absolute;
  left:884px;
  top:462px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u16993_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u16993_seg1 {
  position:absolute;
  left:-4px;
  top:44px;
  width:74px;
  height:8px;
}
#u16993_seg2 {
  position:absolute;
  left:62px;
  top:44px;
  width:8px;
  height:17px;
}
#u16993_seg3 {
  position:absolute;
  left:56px;
  top:47px;
  width:20px;
  height:21px;
}
#u16994 {
  position:absolute;
  left:-34px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16995 {
  position:absolute;
  left:884px;
  top:462px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u16995_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u16995_seg1 {
  position:absolute;
  left:-4px;
  top:44px;
  width:204px;
  height:8px;
}
#u16995_seg2 {
  position:absolute;
  left:192px;
  top:44px;
  width:8px;
  height:17px;
}
#u16995_seg3 {
  position:absolute;
  left:186px;
  top:47px;
  width:20px;
  height:21px;
}
#u16996 {
  position:absolute;
  left:30px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16997 {
  position:absolute;
  left:884px;
  top:462px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u16997_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u16997_seg1 {
  position:absolute;
  left:-69px;
  top:44px;
  width:73px;
  height:8px;
}
#u16997_seg2 {
  position:absolute;
  left:-69px;
  top:44px;
  width:8px;
  height:17px;
}
#u16997_seg3 {
  position:absolute;
  left:-75px;
  top:47px;
  width:20px;
  height:21px;
}
#u16998 {
  position:absolute;
  left:-65px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16999 {
  position:absolute;
  left:884px;
  top:462px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u16999_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u16999_seg1 {
  position:absolute;
  left:-199px;
  top:44px;
  width:203px;
  height:8px;
}
#u16999_seg2 {
  position:absolute;
  left:-199px;
  top:44px;
  width:8px;
  height:17px;
}
#u16999_seg3 {
  position:absolute;
  left:-205px;
  top:47px;
  width:20px;
  height:21px;
}
#u17000 {
  position:absolute;
  left:-130px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17001 {
  position:absolute;
  left:689px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17001_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17001_seg1 {
  position:absolute;
  left:-138px;
  top:14px;
  width:142px;
  height:8px;
}
#u17001_seg2 {
  position:absolute;
  left:-138px;
  top:14px;
  width:8px;
  height:20px;
}
#u17001_seg3 {
  position:absolute;
  left:-144px;
  top:20px;
  width:20px;
  height:21px;
}
#u17002 {
  position:absolute;
  left:-116px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17003 {
  position:absolute;
  left:689px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17003_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17003_seg1 {
  position:absolute;
  left:-65px;
  top:14px;
  width:69px;
  height:8px;
}
#u17003_seg2 {
  position:absolute;
  left:-65px;
  top:14px;
  width:8px;
  height:20px;
}
#u17003_seg3 {
  position:absolute;
  left:-71px;
  top:20px;
  width:20px;
  height:21px;
}
#u17004 {
  position:absolute;
  left:-80px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17005 {
  position:absolute;
  left:819px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17005_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17005_seg1 {
  position:absolute;
  left:-122px;
  top:14px;
  width:126px;
  height:8px;
}
#u17005_seg2 {
  position:absolute;
  left:-122px;
  top:14px;
  width:8px;
  height:20px;
}
#u17005_seg3 {
  position:absolute;
  left:-128px;
  top:20px;
  width:20px;
  height:21px;
}
#u17006 {
  position:absolute;
  left:-108px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17007 {
  position:absolute;
  left:819px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17007_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17007_seg1 {
  position:absolute;
  left:-48px;
  top:14px;
  width:52px;
  height:8px;
}
#u17007_seg2 {
  position:absolute;
  left:-48px;
  top:14px;
  width:8px;
  height:20px;
}
#u17007_seg3 {
  position:absolute;
  left:-54px;
  top:20px;
  width:20px;
  height:21px;
}
#u17008 {
  position:absolute;
  left:-71px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17009 {
  position:absolute;
  left:950px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17009_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17009_seg1 {
  position:absolute;
  left:-106px;
  top:14px;
  width:110px;
  height:8px;
}
#u17009_seg2 {
  position:absolute;
  left:-106px;
  top:14px;
  width:8px;
  height:20px;
}
#u17009_seg3 {
  position:absolute;
  left:-112px;
  top:20px;
  width:20px;
  height:21px;
}
#u17010 {
  position:absolute;
  left:-100px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17011 {
  position:absolute;
  left:950px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17011_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17011_seg1 {
  position:absolute;
  left:-33px;
  top:14px;
  width:37px;
  height:8px;
}
#u17011_seg2 {
  position:absolute;
  left:-33px;
  top:14px;
  width:8px;
  height:20px;
}
#u17011_seg3 {
  position:absolute;
  left:-39px;
  top:20px;
  width:20px;
  height:21px;
}
#u17012 {
  position:absolute;
  left:-64px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17013 {
  position:absolute;
  left:1080px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17013_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17013_seg1 {
  position:absolute;
  left:-90px;
  top:14px;
  width:94px;
  height:8px;
}
#u17013_seg2 {
  position:absolute;
  left:-90px;
  top:14px;
  width:8px;
  height:20px;
}
#u17013_seg3 {
  position:absolute;
  left:-96px;
  top:20px;
  width:20px;
  height:21px;
}
#u17014 {
  position:absolute;
  left:-92px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17015 {
  position:absolute;
  left:1080px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17015_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17015_seg1 {
  position:absolute;
  left:-16px;
  top:14px;
  width:20px;
  height:8px;
}
#u17015_seg2 {
  position:absolute;
  left:-16px;
  top:14px;
  width:8px;
  height:20px;
}
#u17015_seg3 {
  position:absolute;
  left:-22px;
  top:20px;
  width:20px;
  height:21px;
}
#u17016 {
  position:absolute;
  left:-55px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17017 {
  position:absolute;
  left:1080px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17017_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17017_seg1 {
  position:absolute;
  left:-4px;
  top:14px;
  width:69px;
  height:8px;
}
#u17017_seg2 {
  position:absolute;
  left:57px;
  top:14px;
  width:8px;
  height:20px;
}
#u17017_seg3 {
  position:absolute;
  left:51px;
  top:20px;
  width:20px;
  height:21px;
}
#u17018 {
  position:absolute;
  left:-20px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17019 {
  position:absolute;
  left:1080px;
  top:632px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u17019_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u17019_seg1 {
  position:absolute;
  left:-4px;
  top:14px;
  width:142px;
  height:8px;
}
#u17019_seg2 {
  position:absolute;
  left:130px;
  top:14px;
  width:8px;
  height:20px;
}
#u17019_seg3 {
  position:absolute;
  left:124px;
  top:20px;
  width:20px;
  height:21px;
}
#u17020 {
  position:absolute;
  left:16px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
