body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:744px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34918 {
  position:absolute;
  left:0px;
  top:82px;
  width:1440px;
  height:744px;
}
#u34919 {
  position:absolute;
  left:2px;
  top:364px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u34921 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:71px;
  color:#FFFFFF;
  text-align:center;
}
#u34922 {
  position:absolute;
  left:0px;
  top:9px;
  width:312px;
  word-wrap:break-word;
}
#u34923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:82px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u34923 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:82px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u34924 {
  position:absolute;
  left:2px;
  top:33px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u34926 {
  position:absolute;
  left:1099px;
  top:23px;
  width:25px;
  height:20px;
}
#u34927 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34928 {
  position:absolute;
  left:1087px;
  top:43px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34929 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u34930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u34930 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:82px;
  color:#FFFFFF;
  text-align:center;
}
#u34931 {
  position:absolute;
  left:0px;
  top:14px;
  width:312px;
  word-wrap:break-word;
}
#u34932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u34932 {
  position:absolute;
  left:1370px;
  top:11px;
  width:1px;
  height:60px;
}
#u34933 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u34935 {
  position:absolute;
  left:1395px;
  top:23px;
  width:19px;
  height:20px;
  color:#666666;
}
#u34936 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34937 {
  position:absolute;
  left:1392px;
  top:43px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34938 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34939 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u34940 {
  position:absolute;
  left:1175px;
  top:23px;
  width:18px;
  height:20px;
  color:#000000;
}
#u34941 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34942 {
  position:absolute;
  left:1172px;
  top:43px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34943 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u34944 {
  position:absolute;
  left:1197px;
  top:26px;
  width:22px;
  height:28px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u34945 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u34946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u34947 {
  position:absolute;
  left:1259px;
  top:23px;
  width:19px;
  height:20px;
}
#u34948 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34949 {
  position:absolute;
  left:1256px;
  top:43px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34950 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34951 {
  position:absolute;
  left:1291px;
  top:27px;
  width:60px;
  height:30px;
}
#u34952 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u34954 {
  position:absolute;
  left:1026px;
  top:26px;
  width:22px;
  height:20px;
}
#u34955 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34956 {
  position:absolute;
  left:1025px;
  top:43px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34957 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u34959 {
  position:absolute;
  left:886px;
  top:26px;
  width:25px;
  height:20px;
}
#u34960 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34961 {
  position:absolute;
  left:886px;
  top:46px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34962 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34963 {
  position:absolute;
  left:1249px;
  top:623px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34964 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u34965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34965 {
  position:absolute;
  left:1115px;
  top:623px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u34966 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u34967 {
  position:absolute;
  left:647px;
  top:449px;
  width:702px;
  height:164px;
}
#u34967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:164px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u34968 {
  position:absolute;
  left:539px;
  top:745px;
  width:609px;
  height:61px;
}
#u34969 {
  position:absolute;
  left:10px;
  top:4px;
  width:589px;
  word-wrap:break-word;
}
#u34970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34970 {
  position:absolute;
  left:1016px;
  top:664px;
  width:382px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34971 {
  position:absolute;
  left:10px;
  top:14px;
  width:362px;
  word-wrap:break-word;
}
#u34972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:642px;
}
#u34972 {
  position:absolute;
  left:528px;
  top:152px;
  width:1px;
  height:641px;
}
#u34973 {
  position:absolute;
  left:2px;
  top:312px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34974 {
  position:absolute;
  left:77px;
  top:625px;
  width:430px;
  height:168px;
}
#u34974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:168px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u34975 {
  position:absolute;
  left:147px;
  top:193px;
  width:181px;
  height:34px;
}
#u34975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34976 {
  position:absolute;
  left:77px;
  top:192px;
  width:70px;
  height:18px;
  color:#666666;
}
#u34977 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u34976_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34978 {
  position:absolute;
  left:77px;
  top:210px;
  width:70px;
  height:18px;
  color:#666666;
}
#u34979 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u34978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34980 {
  position:absolute;
  left:411px;
  top:192px;
  width:87px;
  height:33px;
}
#u34980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34980_input:disabled {
  color:grayText;
}
#u34981 {
  position:absolute;
  left:77px;
  top:279px;
  width:430px;
  height:100px;
}
#u34981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u34982 {
  position:absolute;
  left:77px;
  top:249px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u34983 {
  position:absolute;
  left:5px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u34984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u34984 {
  position:absolute;
  left:358px;
  top:198px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u34985 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u34986 {
  position:absolute;
  left:77px;
  top:417px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34987 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34988 {
  position:absolute;
  left:187px;
  top:417px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34989 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34990 {
  position:absolute;
  left:297px;
  top:445px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34991 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34992 {
  position:absolute;
  left:77px;
  top:445px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34993 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34992_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34994 {
  position:absolute;
  left:187px;
  top:445px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34995 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34994_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34996 {
  position:absolute;
  left:297px;
  top:473px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34997 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34996_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34998 {
  position:absolute;
  left:77px;
  top:473px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34999 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34998_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35000 {
  position:absolute;
  left:187px;
  top:473px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u35001 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35000_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35002 {
  position:absolute;
  left:297px;
  top:501px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u35003 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35002_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35004 {
  position:absolute;
  left:77px;
  top:501px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u35005 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35004_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35006 {
  position:absolute;
  left:187px;
  top:501px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u35007 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35006_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35008 {
  position:absolute;
  left:407px;
  top:445px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u35009 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35008_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35010 {
  position:absolute;
  left:297px;
  top:417px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u35011 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35010_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35012 {
  position:absolute;
  left:407px;
  top:417px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u35013 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35012_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35014 {
  position:absolute;
  left:407px;
  top:473px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u35015 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u35014_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u35016 {
  position:absolute;
  left:77px;
  top:150px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u35017 {
  position:absolute;
  left:5px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u35018 {
  position:absolute;
  left:77px;
  top:385px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u35019 {
  position:absolute;
  left:5px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u35020 {
  position:absolute;
  left:77px;
  top:595px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#009900;
}
#u35021 {
  position:absolute;
  left:5px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35022 {
  position:absolute;
  left:64px;
  top:152px;
  width:10px;
  height:20px;
}
#u35023 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35024 {
  position:absolute;
  left:64px;
  top:249px;
  width:10px;
  height:20px;
}
#u35025 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35026 {
  position:absolute;
  left:64px;
  top:386px;
  width:10px;
  height:20px;
}
#u35027 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u35028 {
  position:absolute;
  left:64px;
  top:596px;
  width:10px;
  height:20px;
  color:#009900;
}
#u35029 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u35030 {
  position:absolute;
  left:587px;
  top:417px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u35031 {
  position:absolute;
  left:5px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35032 {
  position:absolute;
  left:574px;
  top:419px;
  width:10px;
  height:20px;
}
#u35033 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35034 {
  position:absolute;
  left:647px;
  top:184px;
  width:702px;
  height:207px;
}
#u35034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:207px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u35035 {
  position:absolute;
  left:587px;
  top:152px;
  width:85px;
  height:22px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u35036 {
  position:absolute;
  left:5px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u35037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35037 {
  position:absolute;
  left:574px;
  top:154px;
  width:10px;
  height:20px;
}
#u35038 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
