body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:174px;
}
#u8054 {
  position:absolute;
  left:913px;
  top:152px;
  width:253px;
  height:174px;
}
#u8055 {
  position:absolute;
  left:2px;
  top:79px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:839px;
}
#u8056 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:839px;
}
#u8057 {
  position:absolute;
  left:2px;
  top:412px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TimesNewRomanPSMT', 'Times New Roman';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8058 {
  position:absolute;
  left:468px;
  top:197px;
  width:505px;
  height:105px;
  font-family:'TimesNewRomanPSMT', 'Times New Roman';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u8059 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u8060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:296px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8060 {
  position:absolute;
  left:520px;
  top:347px;
  width:400px;
  height:296px;
}
#u8061 {
  position:absolute;
  left:2px;
  top:140px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8062 {
  position:absolute;
  left:576px;
  top:402px;
  width:65px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8063 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u8064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8064 {
  position:absolute;
  left:576px;
  top:442px;
  width:65px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8065 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u8066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:32px;
}
#u8066 {
  position:absolute;
  left:576px;
  top:547px;
  width:288px;
  height:32px;
  font-family:'Arial-ItalicMT', 'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:16px;
  color:#E4E4E4;
  text-align:center;
}
#u8067 {
  position:absolute;
  left:2px;
  top:5px;
  width:284px;
  word-wrap:break-word;
}
#u8066_ann {
  position:absolute;
  left:857px;
  top:543px;
  width:1px;
  height:1px;
}
#u8068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8068 {
  position:absolute;
  left:576px;
  top:484px;
  width:65px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8069 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u8070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#990000;
}
#u8070 {
  position:absolute;
  left:576px;
  top:525px;
  width:181px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#990000;
}
#u8071 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u8072 {
  position:absolute;
  left:641px;
  top:402px;
  width:223px;
  height:30px;
}
#u8072_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8073 {
  position:absolute;
  left:641px;
  top:442px;
  width:223px;
  height:31px;
}
#u8073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8074 {
  position:absolute;
  left:641px;
  top:483px;
  width:130px;
  height:31px;
}
#u8074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u8075 {
  position:absolute;
  left:771px;
  top:483px;
  width:93px;
  height:31px;
}
#u8076 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8077 {
  position:absolute;
  left:812px;
  top:522px;
  width:57px;
  height:22px;
}
#u8078 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
