body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:872px;
}
#u7214 {
  position:absolute;
  left:287px;
  top:7px;
  width:437px;
  height:872px;
}
#u7215 {
  position:absolute;
  left:2px;
  top:428px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7217 {
  position:absolute;
  left:318px;
  top:109px;
  width:375px;
  height:27px;
}
#u7218 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7219 {
  position:absolute;
  left:323px;
  top:117px;
  width:360px;
  height:11px;
}
#u7220 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u7221 {
  position:absolute;
  left:487px;
  top:140px;
  width:37px;
  height:22px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u7222 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7223 {
  position:absolute;
  left:333px;
  top:140px;
  width:15px;
  height:25px;
  color:#FF9900;
}
#u7224 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7225 {
  position:absolute;
  left:349px;
  top:201px;
  width:132px;
  height:123px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:54px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7227 {
  position:absolute;
  left:383px;
  top:334px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u7228 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:123px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7229 {
  position:absolute;
  left:532px;
  top:201px;
  width:132px;
  height:123px;
}
#u7230 {
  position:absolute;
  left:2px;
  top:54px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7231 {
  position:absolute;
  left:566px;
  top:334px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u7232 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7233 {
  position:absolute;
  left:365px;
  top:213px;
  width:100px;
  height:100px;
}
#u7234 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u7235 {
  position:absolute;
  left:548px;
  top:213px;
  width:100px;
  height:100px;
}
#u7236 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
