body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:872px;
}
#u1480 {
  position:absolute;
  left:287px;
  top:7px;
  width:437px;
  height:872px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:428px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1483 {
  position:absolute;
  left:318px;
  top:109px;
  width:375px;
  height:27px;
}
#u1484 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u1485 {
  position:absolute;
  left:323px;
  top:117px;
  width:360px;
  height:11px;
}
#u1486 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1487 {
  position:absolute;
  left:487px;
  top:140px;
  width:37px;
  height:25px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1489 {
  position:absolute;
  left:334px;
  top:139px;
  width:15px;
  height:25px;
  color:#FF9900;
}
#u1490 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 242, 233, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1492 {
  position:absolute;
  left:334px;
  top:205px;
  width:341px;
  height:114px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:49px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1494 {
  position:absolute;
  left:487px;
  top:175px;
  width:37px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1495 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1496 {
  position:absolute;
  left:351px;
  top:272px;
  width:32px;
  height:32px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u1498 {
  position:absolute;
  left:350px;
  top:260px;
  width:314px;
  height:1px;
}
#u1499 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1500 {
  position:absolute;
  left:350px;
  top:223px;
  width:153px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1501 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u1502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1502 {
  position:absolute;
  left:393px;
  top:277px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
