body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:872px;
}
#u6654 {
  position:absolute;
  left:287px;
  top:7px;
  width:437px;
  height:872px;
}
#u6655 {
  position:absolute;
  left:2px;
  top:428px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6657 {
  position:absolute;
  left:318px;
  top:109px;
  width:375px;
  height:27px;
}
#u6658 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6659 {
  position:absolute;
  left:323px;
  top:117px;
  width:360px;
  height:11px;
}
#u6660 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u6661 {
  position:absolute;
  left:469px;
  top:140px;
  width:73px;
  height:25px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u6662 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u6663 {
  position:absolute;
  left:333px;
  top:140px;
  width:15px;
  height:25px;
  color:#FF9900;
}
#u6664 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u6666 {
  position:absolute;
  left:469px;
  top:183px;
  width:73px;
  height:73px;
}
#u6667 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:50px;
}
#u6668 {
  position:absolute;
  left:487px;
  top:196px;
  width:38px;
  height:50px;
}
#u6669 {
  position:absolute;
  left:2px;
  top:17px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6670 {
  position:absolute;
  left:485px;
  top:209px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6671 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6672 {
  position:absolute;
  left:457px;
  top:266px;
  width:99px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6673 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6674 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6675 {
  position:absolute;
  left:318px;
  top:306px;
  width:375px;
  height:1px;
}
#u6676 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6677 {
  position:absolute;
  left:340px;
  top:323px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6678 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6679 {
  position:absolute;
  left:638px;
  top:316px;
  width:30px;
  height:30px;
}
#u6680 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6682 {
  position:absolute;
  left:318px;
  top:360px;
  width:375px;
  height:1px;
}
#u6683 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6684 {
  position:absolute;
  left:340px;
  top:377px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6685 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6686 {
  position:absolute;
  left:638px;
  top:370px;
  width:30px;
  height:30px;
}
#u6687 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6688 {
  position:absolute;
  left:318px;
  top:418px;
  width:375px;
  height:1px;
}
#u6689 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 160, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6690 {
  position:absolute;
  left:333px;
  top:456px;
  width:345px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6691 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
