body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u2896 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2899 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u2900 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2901 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u2902 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u2903 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u2904 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2905 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u2906 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u2907 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2909 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2911 {
  position:absolute;
  left:538px;
  top:292px;
  width:49px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2912 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2913 {
  position:absolute;
  left:474px;
  top:312px;
  width:170px;
  height:136px;
  overflow:hidden;
  touch-action:none;
}
#u2913_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:136px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2913_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:131px;
}
#u2915 {
  position:absolute;
  left:15px;
  top:3px;
  width:137px;
  height:131px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:58px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917 {
  position:absolute;
  left:15px;
  top:6px;
  width:137px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2918 {
  position:absolute;
  left:15px;
  top:50px;
  width:137px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2919 {
  position:absolute;
  left:15px;
  top:94px;
  width:137px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
