body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:872px;
}
#u7492 {
  position:absolute;
  left:287px;
  top:7px;
  width:437px;
  height:872px;
}
#u7493 {
  position:absolute;
  left:2px;
  top:428px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7494 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7495 {
  position:absolute;
  left:318px;
  top:109px;
  width:375px;
  height:27px;
}
#u7496 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7497 {
  position:absolute;
  left:323px;
  top:117px;
  width:360px;
  height:11px;
}
#u7498 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u7499 {
  position:absolute;
  left:451px;
  top:140px;
  width:109px;
  height:22px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u7500 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u7501 {
  position:absolute;
  left:333px;
  top:140px;
  width:15px;
  height:25px;
  color:#FF9900;
}
#u7502 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7503 {
  position:absolute;
  left:337px;
  top:177px;
  width:337px;
  height:44px;
  font-size:16px;
}
#u7504 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u7505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 160, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7505 {
  position:absolute;
  left:333px;
  top:717px;
  width:345px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7506 {
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  word-wrap:break-word;
}
#u7507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:476px;
}
#u7507 {
  position:absolute;
  left:387px;
  top:231px;
  width:238px;
  height:476px;
}
#u7508 {
  position:absolute;
  left:2px;
  top:230px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
