body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:872px;
}
#u14023 {
  position:absolute;
  left:287px;
  top:7px;
  width:437px;
  height:872px;
}
#u14024 {
  position:absolute;
  left:2px;
  top:428px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14026 {
  position:absolute;
  left:318px;
  top:109px;
  width:375px;
  height:27px;
}
#u14027 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u14028 {
  position:absolute;
  left:323px;
  top:117px;
  width:360px;
  height:11px;
}
#u14029 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u14030 {
  position:absolute;
  left:487px;
  top:140px;
  width:38px;
  height:25px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u14031 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u14032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u14032 {
  position:absolute;
  left:334px;
  top:139px;
  width:15px;
  height:25px;
  color:#FF9900;
}
#u14033 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 242, 233, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14035 {
  position:absolute;
  left:334px;
  top:205px;
  width:341px;
  height:196px;
}
#u14036 {
  position:absolute;
  left:2px;
  top:90px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14037 {
  position:absolute;
  left:487px;
  top:175px;
  width:37px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14038 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14039 {
  position:absolute;
  left:350px;
  top:260px;
  width:314px;
  height:1px;
}
#u14040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14041 {
  position:absolute;
  left:350px;
  top:223px;
  width:147px;
  height:22px;
  font-size:16px;
}
#u14042 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u14043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u14043 {
  position:absolute;
  left:621px;
  top:221px;
  width:29px;
  height:29px;
}
#u14044 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:32px;
}
#u14045 {
  position:absolute;
  left:621px;
  top:358px;
  width:23px;
  height:32px;
}
#u14046 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
}
#u14047 {
  position:absolute;
  left:350px;
  top:276px;
  width:239px;
  height:47px;
}
#u14048 {
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14049 {
  position:absolute;
  left:350px;
  top:343px;
  width:314px;
  height:1px;
}
#u14050 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14051 {
  position:absolute;
  left:393px;
  top:362px;
  width:143px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14052 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u14053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u14053 {
  position:absolute;
  left:350px;
  top:357px;
  width:33px;
  height:33px;
}
#u14054 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 229, 229, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14056 {
  position:absolute;
  left:334px;
  top:447px;
  width:341px;
  height:196px;
}
#u14057 {
  position:absolute;
  left:2px;
  top:90px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14058 {
  position:absolute;
  left:460px;
  top:417px;
  width:93px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14059 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14060 {
  position:absolute;
  left:350px;
  top:502px;
  width:314px;
  height:1px;
}
#u14061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14062 {
  position:absolute;
  left:350px;
  top:465px;
  width:147px;
  height:22px;
  font-size:16px;
}
#u14063 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u14064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u14064 {
  position:absolute;
  left:621px;
  top:463px;
  width:29px;
  height:29px;
}
#u14065 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:32px;
}
#u14066 {
  position:absolute;
  left:621px;
  top:600px;
  width:23px;
  height:32px;
}
#u14067 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
}
#u14068 {
  position:absolute;
  left:350px;
  top:518px;
  width:239px;
  height:47px;
}
#u14069 {
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14070 {
  position:absolute;
  left:350px;
  top:585px;
  width:314px;
  height:1px;
}
#u14071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14072 {
  position:absolute;
  left:393px;
  top:604px;
  width:143px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14073 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u14074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u14074 {
  position:absolute;
  left:350px;
  top:599px;
  width:33px;
  height:33px;
}
#u14075 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
