body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:872px;
}
#u5679 {
  position:absolute;
  left:287px;
  top:7px;
  width:437px;
  height:872px;
}
#u5680 {
  position:absolute;
  left:2px;
  top:428px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5682 {
  position:absolute;
  left:318px;
  top:109px;
  width:375px;
  height:27px;
}
#u5683 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u5684 {
  position:absolute;
  left:323px;
  top:117px;
  width:360px;
  height:11px;
}
#u5685 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u5686 {
  position:absolute;
  left:487px;
  top:140px;
  width:38px;
  height:25px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u5687 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u5688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u5688 {
  position:absolute;
  left:334px;
  top:139px;
  width:15px;
  height:25px;
  color:#FF9900;
}
#u5689 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 242, 233, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5691 {
  position:absolute;
  left:334px;
  top:205px;
  width:341px;
  height:196px;
}
#u5692 {
  position:absolute;
  left:2px;
  top:90px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5693 {
  position:absolute;
  left:487px;
  top:175px;
  width:37px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5694 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u5695 {
  position:absolute;
  left:350px;
  top:260px;
  width:314px;
  height:1px;
}
#u5696 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5697 {
  position:absolute;
  left:350px;
  top:223px;
  width:147px;
  height:22px;
  font-size:16px;
}
#u5698 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u5699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u5699 {
  position:absolute;
  left:621px;
  top:221px;
  width:29px;
  height:29px;
}
#u5700 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:32px;
}
#u5701 {
  position:absolute;
  left:621px;
  top:358px;
  width:23px;
  height:32px;
}
#u5702 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
}
#u5703 {
  position:absolute;
  left:350px;
  top:276px;
  width:239px;
  height:47px;
}
#u5704 {
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u5705 {
  position:absolute;
  left:350px;
  top:343px;
  width:314px;
  height:1px;
}
#u5706 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5707 {
  position:absolute;
  left:393px;
  top:362px;
  width:143px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5708 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u5709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5709 {
  position:absolute;
  left:350px;
  top:357px;
  width:33px;
  height:33px;
}
#u5710 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5711 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 229, 229, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5712 {
  position:absolute;
  left:334px;
  top:447px;
  width:341px;
  height:196px;
}
#u5713 {
  position:absolute;
  left:2px;
  top:90px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5714 {
  position:absolute;
  left:460px;
  top:417px;
  width:93px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u5716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u5716 {
  position:absolute;
  left:350px;
  top:502px;
  width:314px;
  height:1px;
}
#u5717 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5718 {
  position:absolute;
  left:350px;
  top:465px;
  width:147px;
  height:22px;
  font-size:16px;
}
#u5719 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u5720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u5720 {
  position:absolute;
  left:621px;
  top:463px;
  width:29px;
  height:29px;
}
#u5721 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:32px;
}
#u5722 {
  position:absolute;
  left:621px;
  top:600px;
  width:23px;
  height:32px;
}
#u5723 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:47px;
}
#u5724 {
  position:absolute;
  left:350px;
  top:518px;
  width:239px;
  height:47px;
}
#u5725 {
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u5726 {
  position:absolute;
  left:350px;
  top:585px;
  width:314px;
  height:1px;
}
#u5727 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5728 {
  position:absolute;
  left:393px;
  top:604px;
  width:143px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5729 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u5730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5730 {
  position:absolute;
  left:350px;
  top:599px;
  width:33px;
  height:33px;
}
#u5731 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
