body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u3474 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u3475 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3477 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u3478 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3479 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u3480 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u3481 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u3482 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3483 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u3484 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u3485 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u3486 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u3487 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
}
#u3488 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3489 {
  position:absolute;
  left:505px;
  top:338px;
  width:109px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3490 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:37px;
}
#u3491 {
  position:absolute;
  left:534px;
  top:291px;
  width:50px;
  height:37px;
}
#u3492 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u3493 {
  position:absolute;
  left:550px;
  top:307px;
  width:18px;
  height:15px;
}
#u3494 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3495 {
  position:absolute;
  left:505px;
  top:401px;
  width:48px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3496 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u3497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3497 {
  position:absolute;
  left:565px;
  top:401px;
  width:48px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u3498 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u3499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3499 {
  position:absolute;
  left:496px;
  top:366px;
  width:126px;
  height:12px;
}
#u3500 {
  position:absolute;
  left:2px;
  top:-2px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3501 {
  position:absolute;
  left:496px;
  top:366px;
  width:64px;
  height:12px;
}
#u3502 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
