body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:872px;
}
#u14077 {
  position:absolute;
  left:287px;
  top:7px;
  width:437px;
  height:872px;
}
#u14078 {
  position:absolute;
  left:2px;
  top:428px;
  width:433px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14080 {
  position:absolute;
  left:318px;
  top:109px;
  width:375px;
  height:27px;
}
#u14081 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u14082 {
  position:absolute;
  left:323px;
  top:117px;
  width:360px;
  height:11px;
}
#u14083 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14084 {
  position:absolute;
  left:317px;
  top:175px;
  width:377px;
  height:600px;
  overflow:hidden;
  touch-action:none;
}
#u14084_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14084_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14085 {
  position:absolute;
  left:1px;
  top:2px;
  width:375px;
  height:812px;
  overflow:hidden;
}
#u14085_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14085_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 242, 233, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14087 {
  position:absolute;
  left:13px;
  top:34px;
  width:341px;
  height:114px;
}
#u14088 {
  position:absolute;
  left:2px;
  top:49px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14089 {
  position:absolute;
  left:139px;
  top:4px;
  width:93px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14090 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14091 {
  position:absolute;
  left:29px;
  top:89px;
  width:314px;
  height:1px;
}
#u14092 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14093 {
  position:absolute;
  left:29px;
  top:52px;
  width:161px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14094 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u14095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u14095 {
  position:absolute;
  left:29px;
  top:101px;
  width:33px;
  height:33px;
}
#u14096 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u14097 {
  position:absolute;
  left:312px;
  top:52px;
  width:27px;
  height:27px;
}
#u14098 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14099 {
  position:absolute;
  left:72px;
  top:106px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14100 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:32px;
}
#u14101 {
  position:absolute;
  left:312px;
  top:106px;
  width:23px;
  height:32px;
}
#u14102 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 229, 229, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14104 {
  position:absolute;
  left:13px;
  top:194px;
  width:341px;
  height:114px;
}
#u14105 {
  position:absolute;
  left:2px;
  top:49px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14106 {
  position:absolute;
  left:139px;
  top:164px;
  width:91px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14107 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u14108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14108 {
  position:absolute;
  left:29px;
  top:249px;
  width:314px;
  height:1px;
}
#u14109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14110 {
  position:absolute;
  left:29px;
  top:212px;
  width:161px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14111 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u14112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u14112 {
  position:absolute;
  left:29px;
  top:261px;
  width:33px;
  height:33px;
}
#u14113 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u14114 {
  position:absolute;
  left:312px;
  top:212px;
  width:27px;
  height:27px;
}
#u14115 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14116 {
  position:absolute;
  left:72px;
  top:266px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14117 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:32px;
}
#u14118 {
  position:absolute;
  left:312px;
  top:266px;
  width:23px;
  height:32px;
}
#u14119 {
  position:absolute;
  left:2px;
  top:8px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 242, 233, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14121 {
  position:absolute;
  left:13px;
  top:354px;
  width:341px;
  height:114px;
}
#u14122 {
  position:absolute;
  left:2px;
  top:49px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14123 {
  position:absolute;
  left:139px;
  top:324px;
  width:93px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14124 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14125 {
  position:absolute;
  left:29px;
  top:409px;
  width:314px;
  height:1px;
}
#u14126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14127 {
  position:absolute;
  left:29px;
  top:372px;
  width:268px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14128 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u14129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u14129 {
  position:absolute;
  left:312px;
  top:372px;
  width:27px;
  height:27px;
}
#u14130 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14131 {
  position:absolute;
  left:72px;
  top:426px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14132 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u14133 {
  position:absolute;
  left:29px;
  top:418px;
  width:38px;
  height:38px;
}
#u14134 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 229, 229, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14136 {
  position:absolute;
  left:13px;
  top:508px;
  width:341px;
  height:114px;
}
#u14137 {
  position:absolute;
  left:2px;
  top:49px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14138 {
  position:absolute;
  left:139px;
  top:478px;
  width:91px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14139 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u14140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14140 {
  position:absolute;
  left:29px;
  top:563px;
  width:314px;
  height:1px;
}
#u14141 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14142 {
  position:absolute;
  left:64px;
  top:526px;
  width:246px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14143 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  white-space:nowrap;
}
#u14144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u14144 {
  position:absolute;
  left:312px;
  top:526px;
  width:27px;
  height:27px;
}
#u14145 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14146 {
  position:absolute;
  left:72px;
  top:580px;
  width:109px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14147 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u14148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u14148 {
  position:absolute;
  left:29px;
  top:572px;
  width:38px;
  height:38px;
}
#u14149 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u14150 {
  position:absolute;
  left:26px;
  top:523px;
  width:28px;
  height:28px;
  font-size:14px;
  color:#FFFFFF;
}
#u14151 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  word-wrap:break-word;
}
#u14152 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 242, 233, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14153 {
  position:absolute;
  left:13px;
  top:669px;
  width:341px;
  height:114px;
}
#u14154 {
  position:absolute;
  left:2px;
  top:49px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14155 {
  position:absolute;
  left:139px;
  top:639px;
  width:93px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14156 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:2px;
}
#u14157 {
  position:absolute;
  left:29px;
  top:724px;
  width:314px;
  height:1px;
}
#u14158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14159 {
  position:absolute;
  left:29px;
  top:687px;
  width:193px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14160 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u14161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u14161 {
  position:absolute;
  left:312px;
  top:687px;
  width:27px;
  height:27px;
}
#u14162 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14163 {
  position:absolute;
  left:72px;
  top:741px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u14164 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u14165 {
  position:absolute;
  left:29px;
  top:736px;
  width:33px;
  height:33px;
}
#u14166 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u14167 {
  position:absolute;
  left:482px;
  top:140px;
  width:37px;
  height:25px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  color:#FF9900;
}
#u14168 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u14169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u14169 {
  position:absolute;
  left:329px;
  top:139px;
  width:15px;
  height:25px;
  color:#FF9900;
}
#u14170 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
