body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u3021 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u3022 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3024 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u3025 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3026 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u3027 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u3028 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u3029 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3030 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u3032 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u3033 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u3034 {
  position:absolute;
  left:718px;
  top:238px;
  width:65px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3035 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
}
#u3036 {
  position:absolute;
  left:793px;
  top:250px;
  width:173px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3037 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u3038 {
  position:absolute;
  left:718px;
  top:302px;
  width:65px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3039 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  word-wrap:break-word;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
}
#u3040 {
  position:absolute;
  left:793px;
  top:314px;
  width:173px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3041 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:47px;
}
#u3042 {
  position:absolute;
  left:724px;
  top:362px;
  width:54px;
  height:47px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3043 {
  position:absolute;
  left:6px;
  top:14px;
  width:43px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 9.5px;
  -ms-transform-origin:21px 9.5px;
  -moz-transform-origin:21px 9.5px;
  -webkit-transform-origin:21px 9.5px;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
}
#u3044 {
  position:absolute;
  left:793px;
  top:379px;
  width:173px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3045 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
}
#u3046 {
  position:absolute;
  left:793px;
  top:443px;
  width:173px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3047 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u3048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:47px;
}
#u3048 {
  position:absolute;
  left:723px;
  top:436px;
  width:56px;
  height:47px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3049 {
  position:absolute;
  left:6px;
  top:14px;
  width:43px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:22px 9.5px;
  -ms-transform-origin:22px 9.5px;
  -moz-transform-origin:22px 9.5px;
  -webkit-transform-origin:22px 9.5px;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u3050 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
}
#u3051 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3052 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
  overflow:hidden;
  touch-action:pan-y;
}
#u3052_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3052_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
