body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:585px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:585px;
}
#u88 {
  position:absolute;
  left:2px;
  top:284px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:left;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:60px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
  text-align:left;
}
#u91 {
  position:absolute;
  left:20px;
  top:22px;
  width:1078px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:40px;
}
#u92 {
  position:absolute;
  left:28px;
  top:10px;
  width:201px;
  height:40px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-style:normal;
  color:#E4E4E4;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
