body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:216px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:233px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
  text-align:left;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u46 {
  position:absolute;
  left:0px;
  top:24px;
  width:216px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
  text-align:left;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:48px;
  width:216px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
  text-align:left;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u50 {
  position:absolute;
  left:0px;
  top:72px;
  width:216px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
  text-align:left;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u52 {
  position:absolute;
  left:0px;
  top:96px;
  width:216px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
  text-align:left;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:120px;
  width:216px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
  text-align:left;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
}
#u56 {
  position:absolute;
  left:0px;
  top:144px;
  width:216px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#0099FF;
  text-align:left;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:168px;
  width:216px;
  height:20px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:188px;
  width:216px;
  height:20px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:208px;
  width:216px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
