body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u2541 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u2542 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2543 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2544 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u2545 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2546 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u2547 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u2548 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u2549 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2550 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u2551 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u2552 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u2553 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
  overflow:hidden;
  touch-action:pan-y;
}
#u2554_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2554_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2555 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2556 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:45px;
}
#u2557 {
  position:absolute;
  left:16px;
  top:79px;
  width:144px;
  height:45px;
}
#u2558 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
}
#u2559 {
  position:absolute;
  left:112px;
  top:40px;
  width:48px;
  height:29px;
}
#u2560 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2554_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2561 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2562 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:45px;
}
#u2563 {
  position:absolute;
  left:16px;
  top:79px;
  width:144px;
  height:45px;
}
#u2564 {
  position:absolute;
  left:2px;
  top:14px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2554_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2565 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2566 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2554_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:169px;
}
#u2567 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:169px;
}
#u2568 {
  position:absolute;
  left:2px;
  top:76px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u2569 {
  position:absolute;
  left:13px;
  top:37px;
  width:144px;
  height:41px;
}
#u2570 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u2571 {
  position:absolute;
  left:13px;
  top:88px;
  width:144px;
  height:41px;
}
#u2572 {
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2554_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2573 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2574 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:29px;
}
#u2575 {
  position:absolute;
  left:112px;
  top:40px;
  width:48px;
  height:29px;
}
#u2576 {
  position:absolute;
  left:2px;
  top:6px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
