body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u1550 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1553 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u1554 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1555 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u1557 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u1558 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1559 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u1560 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u1561 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u1562 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1563 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
}
#u1564 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1565 {
  position:absolute;
  left:499px;
  top:353px;
  width:40px;
  height:38px;
}
#u1566 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1567 {
  position:absolute;
  left:556px;
  top:363px;
  width:62px;
  height:60px;
}
#u1568 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
