body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:1021px;
}
#u13376 {
  position:absolute;
  left:14px;
  top:0px;
  width:735px;
  height:1021px;
}
#u13377 {
  position:absolute;
  left:2px;
  top:502px;
  width:731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13378 {
  position:absolute;
  left:575px;
  top:7px;
  width:173px;
  height:98px;
}
#u13379 {
  position:absolute;
  left:2px;
  top:41px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u13380 {
  position:absolute;
  left:682px;
  top:21px;
  width:37px;
  height:22px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u13381 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13383 {
  position:absolute;
  left:604px;
  top:52px;
  width:119px;
  height:102px;
}
#u13384 {
  position:absolute;
  left:2px;
  top:43px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13385 {
  position:absolute;
  left:614px;
  top:69px;
  width:87px;
  height:19px;
  font-size:16px;
}
#u13386 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u13387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13387 {
  position:absolute;
  left:614px;
  top:104px;
  width:82px;
  height:19px;
  font-size:16px;
}
#u13388 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u13389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:27px;
  background:inherit;
  background-color:rgba(15, 140, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13389 {
  position:absolute;
  left:575px;
  top:17px;
  width:85px;
  height:27px;
  font-size:18px;
}
#u13390 {
  position:absolute;
  left:2px;
  top:1px;
  width:81px;
  word-wrap:break-word;
}
