body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u3530 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u3531 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3533 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u3534 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3535 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u3536 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u3537 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u3538 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3539 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u3540 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u3541 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u3542 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u3543 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
}
#u3544 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3545 {
  position:absolute;
  left:533px;
  top:292px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u3546 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
  text-align:center;
}
#u3547 {
  position:absolute;
  left:495px;
  top:399px;
  width:129px;
  height:31px;
  font-size:12px;
  color:#F2F2F2;
  text-align:center;
}
#u3548 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u3549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:50px;
}
#u3549 {
  position:absolute;
  left:543px;
  top:338px;
  width:33px;
  height:50px;
}
#u3550 {
  position:absolute;
  left:2px;
  top:17px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
