body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u34804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:744px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34804 {
  position:absolute;
  left:0px;
  top:82px;
  width:1440px;
  height:744px;
}
#u34805 {
  position:absolute;
  left:2px;
  top:364px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u34807 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:71px;
  color:#FFFFFF;
  text-align:center;
}
#u34808 {
  position:absolute;
  left:0px;
  top:9px;
  width:312px;
  word-wrap:break-word;
}
#u34809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:82px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u34809 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:82px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
}
#u34810 {
  position:absolute;
  left:2px;
  top:33px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34811 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u34812 {
  position:absolute;
  left:1099px;
  top:23px;
  width:25px;
  height:20px;
}
#u34813 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34814 {
  position:absolute;
  left:1087px;
  top:43px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34815 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u34816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u34816 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:82px;
  color:#FFFFFF;
  text-align:center;
}
#u34817 {
  position:absolute;
  left:0px;
  top:14px;
  width:312px;
  word-wrap:break-word;
}
#u34818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u34818 {
  position:absolute;
  left:1370px;
  top:11px;
  width:1px;
  height:60px;
}
#u34819 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u34821 {
  position:absolute;
  left:1395px;
  top:23px;
  width:19px;
  height:20px;
  color:#666666;
}
#u34822 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34823 {
  position:absolute;
  left:1392px;
  top:43px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34824 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u34826 {
  position:absolute;
  left:1175px;
  top:23px;
  width:18px;
  height:20px;
  color:#000000;
}
#u34827 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34828 {
  position:absolute;
  left:1172px;
  top:43px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34829 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u34830 {
  position:absolute;
  left:1197px;
  top:26px;
  width:22px;
  height:28px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#FFFFFF;
}
#u34831 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u34832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u34833 {
  position:absolute;
  left:1259px;
  top:23px;
  width:19px;
  height:20px;
}
#u34834 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34835 {
  position:absolute;
  left:1256px;
  top:43px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34836 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34837 {
  position:absolute;
  left:1291px;
  top:27px;
  width:60px;
  height:30px;
}
#u34838 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u34840 {
  position:absolute;
  left:1026px;
  top:26px;
  width:22px;
  height:20px;
}
#u34841 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34842 {
  position:absolute;
  left:1025px;
  top:43px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34843 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34844 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u34845 {
  position:absolute;
  left:886px;
  top:26px;
  width:25px;
  height:20px;
}
#u34846 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34847 {
  position:absolute;
  left:886px;
  top:46px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u34848 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34849 {
  position:absolute;
  left:582px;
  top:193px;
  width:181px;
  height:34px;
}
#u34849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34850 {
  position:absolute;
  left:512px;
  top:192px;
  width:70px;
  height:18px;
  color:#666666;
}
#u34851 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u34850_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34852 {
  position:absolute;
  left:512px;
  top:210px;
  width:70px;
  height:18px;
  color:#666666;
}
#u34853 {
  position:absolute;
  left:16px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u34852_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34854 {
  position:absolute;
  left:846px;
  top:192px;
  width:87px;
  height:33px;
}
#u34854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u34854_input:disabled {
  color:grayText;
}
#u34855 {
  position:absolute;
  left:512px;
  top:279px;
  width:430px;
  height:100px;
}
#u34855_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u34856 {
  position:absolute;
  left:512px;
  top:249px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u34857 {
  position:absolute;
  left:5px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u34858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
}
#u34858 {
  position:absolute;
  left:793px;
  top:198px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u34859 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u34860 {
  position:absolute;
  left:519px;
  top:439px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34861 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34860_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34862 {
  position:absolute;
  left:622px;
  top:439px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34863 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34862_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34864 {
  position:absolute;
  left:732px;
  top:467px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34865 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34864_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34866 {
  position:absolute;
  left:519px;
  top:467px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34867 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34866_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34868 {
  position:absolute;
  left:622px;
  top:467px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34869 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34868_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34870 {
  position:absolute;
  left:732px;
  top:495px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34871 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34870_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34872 {
  position:absolute;
  left:519px;
  top:495px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34873 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34872_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34874 {
  position:absolute;
  left:622px;
  top:495px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34875 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34874_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34876 {
  position:absolute;
  left:732px;
  top:523px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34877 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34876_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34878 {
  position:absolute;
  left:519px;
  top:523px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34879 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34878_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34880 {
  position:absolute;
  left:622px;
  top:523px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34881 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34880_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34882 {
  position:absolute;
  left:842px;
  top:467px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34883 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34882_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34884 {
  position:absolute;
  left:732px;
  top:439px;
  width:100px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u34885 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34884_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34886 {
  position:absolute;
  left:842px;
  top:439px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34887 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34886_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34888 {
  position:absolute;
  left:842px;
  top:495px;
  width:100px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u34889 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34888_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u34890 {
  position:absolute;
  left:512px;
  top:150px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u34891 {
  position:absolute;
  left:5px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u34892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u34892 {
  position:absolute;
  left:512px;
  top:385px;
  width:70px;
  height:22px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#3B519E;
}
#u34893 {
  position:absolute;
  left:5px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u34894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34894 {
  position:absolute;
  left:499px;
  top:152px;
  width:10px;
  height:20px;
}
#u34895 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34896 {
  position:absolute;
  left:499px;
  top:249px;
  width:10px;
  height:20px;
}
#u34897 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
  background:inherit;
  background-color:rgba(59, 81, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34898 {
  position:absolute;
  left:499px;
  top:386px;
  width:10px;
  height:20px;
}
#u34899 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34900 {
  position:absolute;
  left:802px;
  top:555px;
  width:140px;
  height:40px;
}
#u34901 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u34902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34902 {
  position:absolute;
  left:512px;
  top:413px;
  width:430px;
  height:22px;
}
#u34903 {
  position:absolute;
  left:2px;
  top:3px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34904 {
  position:absolute;
  left:518px;
  top:415px;
  width:100px;
  height:18px;
}
#u34905 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u34904_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34906 {
  position:absolute;
  left:572px;
  top:414px;
  width:150px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34907 {
  position:absolute;
  left:10px;
  top:1px;
  width:130px;
  word-wrap:break-word;
}
#u34908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34908 {
  position:absolute;
  left:612px;
  top:288px;
  width:282px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u34909 {
  position:absolute;
  left:10px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
