body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u2552 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u2553 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2555 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u2556 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2557 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u2558 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u2559 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u2560 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2561 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u2562 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u2563 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u2564 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2565 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
}
#u2566 {
  position:absolute;
  left:780px;
  top:297px;
  width:51px;
  height:14px;
  font-size:10px;
  color:#AEAEAE;
}
#u2567 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2568 {
  position:absolute;
  left:741px;
  top:331px;
  width:138px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2569 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u2570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2570 {
  position:absolute;
  left:763px;
  top:407px;
  width:24px;
  height:24px;
}
#u2571 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2572 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2573 {
  position:absolute;
  left:827px;
  top:407px;
  width:24px;
  height:24px;
}
#u2574 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2576_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:9px;
  height:5px;
}
#u2576 {
  position:absolute;
  left:833px;
  top:420px;
  width:6px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2577 {
  position:absolute;
  left:2px;
  top:-7px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2578 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2579_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:5px;
}
#u2579 {
  position:absolute;
  left:835px;
  top:418px;
  width:12px;
  height:2px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u2580 {
  position:absolute;
  left:2px;
  top:-7px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2581 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
}
#u2582 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
  overflow:hidden;
  touch-action:pan-y;
}
#u2583_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2583_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
