body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u1850 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1853 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1855 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u1857 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u1861 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u1862 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u1863 {
  position:absolute;
  left:757px;
  top:238px;
  width:65px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1864 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
}
#u1865 {
  position:absolute;
  left:832px;
  top:250px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u1867 {
  position:absolute;
  left:757px;
  top:302px;
  width:65px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1868 {
  position:absolute;
  left:2px;
  top:14px;
  width:61px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
}
#u1869 {
  position:absolute;
  left:832px;
  top:314px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:47px;
}
#u1871 {
  position:absolute;
  left:763px;
  top:362px;
  width:54px;
  height:47px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1872 {
  position:absolute;
  left:6px;
  top:14px;
  width:43px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:21px 9.5px;
  -ms-transform-origin:21px 9.5px;
  -moz-transform-origin:21px 9.5px;
  -webkit-transform-origin:21px 9.5px;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:47px;
}
#u1873 {
  position:absolute;
  left:762px;
  top:436px;
  width:56px;
  height:47px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1874 {
  position:absolute;
  left:6px;
  top:14px;
  width:43px;
  -webkit-transform:rotate(-270deg);
  -moz-transform:rotate(-270deg);
  -ms-transform:rotate(-270deg);
  transform:rotate(-270deg);
  word-wrap:break-word;
  transform-origin:22px 9.5px;
  -ms-transform-origin:22px 9.5px;
  -moz-transform-origin:22px 9.5px;
  -webkit-transform-origin:22px 9.5px;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
}
#u1875 {
  position:absolute;
  left:832px;
  top:375px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:22px;
}
#u1877 {
  position:absolute;
  left:832px;
  top:449px;
  width:173px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:168px;
}
#u1879 {
  position:absolute;
  left:475px;
  top:279px;
  width:168px;
  height:168px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:76px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:116px;
}
#u1884 {
  position:absolute;
  left:464px;
  top:305px;
  width:20px;
  height:116px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:50px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:124px;
}
#u1886 {
  position:absolute;
  left:378px;
  top:305px;
  width:106px;
  height:124px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:54px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:116px;
}
#u1889 {
  position:absolute;
  left:635px;
  top:305px;
  width:20px;
  height:116px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:50px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:122px;
}
#u1891 {
  position:absolute;
  left:633px;
  top:305px;
  width:110px;
  height:122px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:53px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:186px;
}
#u1894 {
  position:absolute;
  left:466px;
  top:270px;
  width:186px;
  height:186px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:85px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896 {
  position:absolute;
  left:475px;
  top:305px;
  width:168px;
  height:124px;
  overflow:hidden;
  touch-action:none;
}
#u1896_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1896_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:240px;
}
#u1897 {
  position:absolute;
  left:23px;
  top:1px;
  width:122px;
  height:240px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:112px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
