body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u2798 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u2799 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2800 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2801 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u2802 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2803 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u2804 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u2805 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u2806 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2807 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u2808 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u2809 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u2810 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2811 {
  position:absolute;
  left:474px;
  top:278px;
  width:170px;
  height:170px;
  overflow:hidden;
  touch-action:pan-y;
}
#u2811_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2811_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2812 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2813 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2811_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2811_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2814 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2815 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2811_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2811_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2816 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u2817 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
