body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1441px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:899px;
  background:-webkit-linear-gradient(270deg, rgba(36, 61, 73, 1) 0%, rgba(36, 61, 73, 1) 0%, rgba(11, 154, 177, 1) 100%, rgba(11, 154, 177, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(36, 61, 73, 1) 0%, rgba(36, 61, 73, 1) 0%, rgba(11, 154, 177, 1) 100%, rgba(11, 154, 177, 1) 100%);
  background:linear-gradient(180deg, rgba(36, 61, 73, 1) 0%, rgba(36, 61, 73, 1) 0%, rgba(11, 154, 177, 1) 100%, rgba(11, 154, 177, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8079 {
  position:absolute;
  left:1px;
  top:1px;
  width:1440px;
  height:899px;
}
#u8080 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:830px;
}
#u8081 {
  position:absolute;
  left:0px;
  top:1px;
  width:1440px;
  height:830px;
}
#u8082 {
  position:absolute;
  left:2px;
  top:407px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8083 {
  position:absolute;
  left:825px;
  top:239px;
  width:502px;
  height:420px;
  overflow:hidden;
}
#u8083_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8083_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:423px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8084 {
  position:absolute;
  left:0px;
  top:-2px;
  width:502px;
  height:423px;
}
#u8085 {
  position:absolute;
  left:2px;
  top:204px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u8086 {
  position:absolute;
  left:110px;
  top:2px;
  width:282px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u8087 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  word-wrap:break-word;
}
#u8088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:43px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8088 {
  position:absolute;
  left:38px;
  top:39px;
  width:104px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8089 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u8090 {
  position:absolute;
  left:142px;
  top:39px;
  width:320px;
  height:43px;
}
#u8090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8090_ann {
  position:absolute;
  left:455px;
  top:35px;
  width:1px;
  height:1px;
}
#u8091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:43px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8091 {
  position:absolute;
  left:38px;
  top:96px;
  width:104px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8092 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u8093 {
  position:absolute;
  left:142px;
  top:96px;
  width:320px;
  height:43px;
}
#u8093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:43px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8094 {
  position:absolute;
  left:38px;
  top:159px;
  width:104px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8095 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u8096 {
  position:absolute;
  left:142px;
  top:159px;
  width:320px;
  height:43px;
}
#u8096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:43px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8097 {
  position:absolute;
  left:38px;
  top:216px;
  width:104px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8098 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u8099 {
  position:absolute;
  left:142px;
  top:216px;
  width:320px;
  height:43px;
}
#u8099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:43px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8100 {
  position:absolute;
  left:38px;
  top:277px;
  width:104px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8101 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u8102 {
  position:absolute;
  left:142px;
  top:277px;
  width:320px;
  height:43px;
}
#u8102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:40px;
  background:inherit;
  background-color:rgba(15, 140, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8103 {
  position:absolute;
  left:38px;
  top:365px;
  width:424px;
  height:40px;
  font-size:16px;
}
#u8104 {
  position:absolute;
  left:2px;
  top:9px;
  width:420px;
  word-wrap:break-word;
}
#u8105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u8105 {
  position:absolute;
  left:38px;
  top:335px;
  width:99px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u8106 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8105_ann {
  position:absolute;
  left:130px;
  top:331px;
  width:1px;
  height:1px;
}
#u8083_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:420px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8083_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:423px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8107 {
  position:absolute;
  left:0px;
  top:-2px;
  width:502px;
  height:423px;
}
#u8108 {
  position:absolute;
  left:2px;
  top:204px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u8110 {
  position:absolute;
  left:262px;
  top:101px;
  width:32px;
  height:32px;
}
#u8111 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8112 {
  position:absolute;
  left:171px;
  top:103px;
  width:81px;
  height:28px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u8113 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u8114 {
  position:absolute;
  left:63px;
  top:183px;
  width:340px;
  height:44px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u8115 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  white-space:nowrap;
}
#u8116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8116 {
  position:absolute;
  left:166px;
  top:280px;
  width:133px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8117 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u8118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u8118 {
  position:absolute;
  left:233px;
  top:671px;
  width:505px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u8119 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  word-wrap:break-word;
}
#u8120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:420px;
}
#u8120 {
  position:absolute;
  left:145px;
  top:239px;
  width:680px;
  height:420px;
}
#u8121 {
  position:absolute;
  left:2px;
  top:202px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u8122 {
  position:absolute;
  left:834px;
  top:680px;
  width:91px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
  text-align:center;
}
#u8123 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u8122_ann {
  position:absolute;
  left:918px;
  top:676px;
  width:1px;
  height:1px;
}
#u8125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u8125 {
  position:absolute;
  left:1181px;
  top:671px;
  width:122px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u8126 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u8127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00FFFF;
  text-align:center;
}
#u8127 {
  position:absolute;
  left:1004px;
  top:680px;
  width:128px;
  height:22px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#00FFFF;
  text-align:center;
}
#u8128 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
