body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:685px;
}
#u2671 {
  position:absolute;
  left:522px;
  top:96px;
  width:74px;
  height:685px;
}
#u2672 {
  position:absolute;
  left:2px;
  top:334px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2673 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2674 {
  position:absolute;
  left:518px;
  top:67px;
  width:81px;
  height:33px;
}
#u2675 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2676 {
  position:absolute;
  left:555px;
  top:96px;
  width:8px;
  height:6px;
}
#u2677 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u2678 {
  position:absolute;
  left:558px;
  top:67px;
  width:2px;
  height:33px;
}
#u2679 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2680 {
  position:absolute;
  left:518px;
  top:58px;
  width:81px;
  height:10px;
}
#u2681 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:188px;
}
#u2682 {
  position:absolute;
  left:465px;
  top:269px;
  width:188px;
  height:188px;
}
#u2683 {
  position:absolute;
  left:2px;
  top:86px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2685 {
  position:absolute;
  left:507px;
  top:352px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2686 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2687 {
  position:absolute;
  left:595px;
  top:349px;
  width:24px;
  height:24px;
}
#u2688 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
